-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: delafiber
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `campanias`
--

DROP TABLE IF EXISTS `campanias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanias` (
  `idcampania` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `presupuesto` decimal(9,2) DEFAULT '0.00',
  `estado` enum('Activa','Inactiva') COLLATE utf8mb4_unicode_ci DEFAULT 'Activa',
  `responsable` int DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idcampania`),
  KEY `idx_campanias_estado` (`estado`),
  KEY `idx_campanias_fechas` (`fecha_inicio`,`fecha_fin`),
  KEY `idx_campanias_responsable` (`responsable`),
  CONSTRAINT `fk_campania_responsable` FOREIGN KEY (`responsable`) REFERENCES `usuarios` (`idusuario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campanias`
--

LOCK TABLES `campanias` WRITE;
/*!40000 ALTER TABLE `campanias` DISABLE KEYS */;
/*!40000 ALTER TABLE `campanias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizaciones`
--

DROP TABLE IF EXISTS `cotizaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cotizaciones` (
  `idcotizacion` int NOT NULL AUTO_INCREMENT,
  `idlead` int NOT NULL,
  `idservicio` int NOT NULL,
  `precio_cotizado` decimal(8,2) DEFAULT NULL,
  `descuento_aplicado` decimal(5,2) DEFAULT '0.00',
  `precio_instalacion` decimal(8,2) DEFAULT '0.00',
  `vigencia_dias` int DEFAULT '30',
  `estado` enum('vigente','vencida','aceptada','rechazada') COLLATE utf8mb4_unicode_ci DEFAULT 'vigente',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idcotizacion`),
  KEY `fk_cotizacion_lead` (`idlead`),
  KEY `fk_cotizacion_servicio` (`idservicio`),
  CONSTRAINT `fk_cotizacion_lead` FOREIGN KEY (`idlead`) REFERENCES `leads` (`idlead`) ON DELETE CASCADE,
  CONSTRAINT `fk_cotizacion_servicio` FOREIGN KEY (`idservicio`) REFERENCES `servicios_catalogo` (`idservicio`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizaciones`
--

LOCK TABLES `cotizaciones` WRITE;
/*!40000 ALTER TABLE `cotizaciones` DISABLE KEYS */;
INSERT INTO `cotizaciones` VALUES (1,3,2,99.90,0.00,99.00,30,'vigente','','2025-10-02 01:10:46'),(2,3,2,99.90,0.00,99.00,30,'vigente','','2025-10-02 01:10:54'),(3,3,2,99.90,0.00,99.00,30,'vigente','','2025-10-02 01:12:05');
/*!40000 ALTER TABLE `cotizaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departamentos`
--

DROP TABLE IF EXISTS `departamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departamentos` (
  `iddepartamento` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`iddepartamento`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departamentos`
--

LOCK TABLES `departamentos` WRITE;
/*!40000 ALTER TABLE `departamentos` DISABLE KEYS */;
INSERT INTO `departamentos` VALUES (1,'Ica');
/*!40000 ALTER TABLE `departamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `difusiones`
--

DROP TABLE IF EXISTS `difusiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `difusiones` (
  `iddifusion` int NOT NULL AUTO_INCREMENT,
  `idcampania` int NOT NULL,
  `idmedio` int NOT NULL,
  `presupuesto` decimal(9,2) NOT NULL DEFAULT '0.00',
  `leads_generados` int DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`iddifusion`),
  KEY `fk_difusion_campania` (`idcampania`),
  KEY `fk_difusion_medio` (`idmedio`),
  CONSTRAINT `fk_difusion_campania` FOREIGN KEY (`idcampania`) REFERENCES `campanias` (`idcampania`) ON DELETE CASCADE,
  CONSTRAINT `fk_difusion_medio` FOREIGN KEY (`idmedio`) REFERENCES `medios` (`idmedio`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `difusiones`
--

LOCK TABLES `difusiones` WRITE;
/*!40000 ALTER TABLE `difusiones` DISABLE KEYS */;
INSERT INTO `difusiones` VALUES (1,1,1,2000.00,45,'2025-10-01 19:28:44'),(2,1,2,1500.00,32,'2025-10-01 19:28:44'),(3,2,1,3000.00,68,'2025-10-01 19:28:44'),(4,2,4,1000.00,25,'2025-10-01 19:28:44'),(5,3,1,5000.00,120,'2025-10-01 19:28:44'),(6,3,2,4000.00,95,'2025-10-01 19:28:44'),(7,3,6,2000.00,55,'2025-10-01 19:28:44');
/*!40000 ALTER TABLE `difusiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distritos`
--

DROP TABLE IF EXISTS `distritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distritos` (
  `iddistrito` int NOT NULL AUTO_INCREMENT,
  `idprovincia` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`iddistrito`),
  KEY `fk_distrito_provincia` (`idprovincia`),
  CONSTRAINT `fk_distrito_provincia` FOREIGN KEY (`idprovincia`) REFERENCES `provincias` (`idprovincia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distritos`
--

LOCK TABLES `distritos` WRITE;
/*!40000 ALTER TABLE `distritos` DISABLE KEYS */;
INSERT INTO `distritos` VALUES (1,1,'Chincha Alta'),(2,1,'Sunampe'),(3,1,'Grocio Prado'),(4,1,'Pueblo Nuevo'),(5,1,'Alto Lar├ín'),(6,1,'Chav├¡n'),(7,1,'El Carmen'),(8,1,'San Juan de Yanac'),(9,1,'San Pedro de Huacarpana'),(10,1,'Tambo de Mora');
/*!40000 ALTER TABLE `distritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapas`
--

DROP TABLE IF EXISTS `etapas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapas` (
  `idetapa` int NOT NULL AUTO_INCREMENT,
  `idpipeline` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` int NOT NULL,
  PRIMARY KEY (`idetapa`),
  KEY `fk_etapa_pipeline` (`idpipeline`),
  CONSTRAINT `fk_etapa_pipeline` FOREIGN KEY (`idpipeline`) REFERENCES `pipelines` (`idpipeline`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapas`
--

LOCK TABLES `etapas` WRITE;
/*!40000 ALTER TABLE `etapas` DISABLE KEYS */;
INSERT INTO `etapas` VALUES (1,1,'CAPTACION',1),(2,1,'CONTACTO',2),(3,1,'INTERES',3),(4,1,'COTIZACION',4),(5,1,'NEGOCIACION',5),(6,1,'CIERRE',6),(7,1,'VENTA',7);
/*!40000 ALTER TABLE `etapas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leads` (
  `idlead` int NOT NULL AUTO_INCREMENT,
  `idpersona` int NOT NULL,
  `idetapa` int NOT NULL DEFAULT '1',
  `idusuario` int NOT NULL,
  `idorigen` int NOT NULL,
  `idcampania` int DEFAULT NULL,
  `medio_comunicacion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nota_inicial` text COLLATE utf8mb4_unicode_ci,
  `idmodalidad` int DEFAULT NULL,
  `idusuario_registro` int DEFAULT NULL,
  `referido_por` int DEFAULT NULL,
  `estado` enum('Convertido','Descartado') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `presupuesto_estimado` decimal(10,2) DEFAULT '0.00',
  `numero_contrato_externo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_conversion_contrato` datetime DEFAULT NULL,
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_modificacion` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idlead`),
  UNIQUE KEY `unique_persona_lead` (`idpersona`),
  KEY `fk_lead_etapa` (`idetapa`),
  KEY `fk_lead_origen` (`idorigen`),
  KEY `fk_lead_modalidad` (`idmodalidad`),
  KEY `fk_lead_usuario_registro` (`idusuario_registro`),
  KEY `fk_lead_referido_por` (`referido_por`),
  KEY `idx_leads_estado` (`estado`),
  KEY `idx_leads_fecha` (`fecha_registro`),
  KEY `idx_leads_usuario` (`idusuario`),
  KEY `idx_leads_campania` (`idcampania`),
  KEY `idx_leads_fecha_conversion` (`fecha_conversion_contrato`),
  CONSTRAINT `fk_lead_campania` FOREIGN KEY (`idcampania`) REFERENCES `campanias` (`idcampania`) ON DELETE SET NULL,
  CONSTRAINT `fk_lead_etapa` FOREIGN KEY (`idetapa`) REFERENCES `etapas` (`idetapa`) ON DELETE RESTRICT,
  CONSTRAINT `fk_lead_modalidad` FOREIGN KEY (`idmodalidad`) REFERENCES `modalidades` (`idmodalidad`) ON DELETE SET NULL,
  CONSTRAINT `fk_lead_origen` FOREIGN KEY (`idorigen`) REFERENCES `origenes` (`idorigen`) ON DELETE RESTRICT,
  CONSTRAINT `fk_lead_persona` FOREIGN KEY (`idpersona`) REFERENCES `personas` (`idpersona`) ON DELETE CASCADE,
  CONSTRAINT `fk_lead_referido_por` FOREIGN KEY (`referido_por`) REFERENCES `personas` (`idpersona`) ON DELETE SET NULL,
  CONSTRAINT `fk_lead_usuario` FOREIGN KEY (`idusuario`) REFERENCES `usuarios` (`idusuario`) ON DELETE RESTRICT,
  CONSTRAINT `fk_lead_usuario_registro` FOREIGN KEY (`idusuario_registro`) REFERENCES `usuarios` (`idusuario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads_historial`
--

DROP TABLE IF EXISTS `leads_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leads_historial` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idlead` int NOT NULL,
  `idusuario` int NOT NULL,
  `accion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `etapa_anterior` int DEFAULT NULL,
  `etapa_nueva` int DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `datos_adicionales` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_idlead` (`idlead`),
  KEY `idx_fecha` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads_historial`
--

LOCK TABLES `leads_historial` WRITE;
/*!40000 ALTER TABLE `leads_historial` DISABLE KEYS */;
INSERT INTO `leads_historial` VALUES (1,7,1,'descarte','Lead descartado. Motivo: indico que por el momento no requiere',NULL,NULL,'2025-10-02 01:28:53',NULL),(2,10,1,'descarte','Lead descartado. Motivo: ya no desea',NULL,NULL,'2025-10-02 01:29:22',NULL);
/*!40000 ALTER TABLE `leads_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medios`
--

DROP TABLE IF EXISTS `medios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medios` (
  `idmedio` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`idmedio`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medios`
--

LOCK TABLES `medios` WRITE;
/*!40000 ALTER TABLE `medios` DISABLE KEYS */;
INSERT INTO `medios` VALUES (1,'Facebook Ads','Publicidad pagada en Facebook e Instagram',1),(2,'Google Ads','Publicidad en Google y red de display',1),(3,'WhatsApp Business','Marketing directo por WhatsApp',1),(4,'Volanteo','Distribuci├│n de material impreso',1),(5,'Referidos','Programa de referidos de clientes',1),(6,'P├ígina Web','Formularios de contacto del sitio web',1),(7,'Radio','Publicidad en radios locales',1),(8,'Eventos','Participaci├│n en ferias y eventos',1);
/*!40000 ALTER TABLE `medios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modalidades`
--

DROP TABLE IF EXISTS `modalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modalidades` (
  `idmodalidad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idmodalidad`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modalidades`
--

LOCK TABLES `modalidades` WRITE;
/*!40000 ALTER TABLE `modalidades` DISABLE KEYS */;
INSERT INTO `modalidades` VALUES (1,'Llamada telef├│nica'),(2,'WhatsApp'),(3,'Correo electr├│nico'),(4,'Reuni├│n presencial'),(5,'Videollamada'),(6,'Mensaje de texto');
/*!40000 ALTER TABLE `modalidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oportunidades`
--

DROP TABLE IF EXISTS `oportunidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oportunidades` (
  `idoportunidad` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `idlead` int DEFAULT NULL,
  `valor_estimado` decimal(12,2) DEFAULT '0.00',
  `fecha_cierre` date DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idoportunidad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oportunidades`
--

LOCK TABLES `oportunidades` WRITE;
/*!40000 ALTER TABLE `oportunidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `oportunidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `origenes`
--

DROP TABLE IF EXISTS `origenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `origenes` (
  `idorigen` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`idorigen`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `origenes`
--

LOCK TABLES `origenes` WRITE;
/*!40000 ALTER TABLE `origenes` DISABLE KEYS */;
INSERT INTO `origenes` VALUES (1,'Campa├▒a Digital','campa├▒a'),(2,'Referido de Cliente','referido'),(3,'Contacto Directo',NULL),(4,'Evento o Feria',NULL),(5,'Marketing Offline','campa├▒a'),(6,'Redes Sociales','campa├▒a'),(7,'P├ígina Web',NULL),(8,'Volanteo','campa├▒a');
/*!40000 ALTER TABLE `origenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personas`
--

DROP TABLE IF EXISTS `personas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personas` (
  `idpersona` int NOT NULL AUTO_INCREMENT,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dni` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `direccion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `referencias` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `iddistrito` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idpersona`),
  UNIQUE KEY `dni` (`dni`),
  KEY `idx_personas_dni` (`dni`),
  KEY `idx_personas_correo` (`correo`),
  KEY `idx_personas_nombre` (`nombres`,`apellidos`),
  KEY `idx_personas_telefono` (`telefono`),
  KEY `idx_personas_distrito` (`iddistrito`),
  CONSTRAINT `fk_persona_distrito` FOREIGN KEY (`iddistrito`) REFERENCES `distritos` (`iddistrito`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personas`
--

LOCK TABLES `personas` WRITE;
/*!40000 ALTER TABLE `personas` DISABLE KEYS */;
/*!40000 ALTER TABLE `personas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pipelines`
--

DROP TABLE IF EXISTS `pipelines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pipelines` (
  `idpipeline` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`idpipeline`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pipelines`
--

LOCK TABLES `pipelines` WRITE;
/*!40000 ALTER TABLE `pipelines` DISABLE KEYS */;
INSERT INTO `pipelines` VALUES (1,'Pipeline Principal','Proceso general de ventas para servicios de fibra ├│ptica');
/*!40000 ALTER TABLE `pipelines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provincias`
--

DROP TABLE IF EXISTS `provincias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provincias` (
  `idprovincia` int NOT NULL AUTO_INCREMENT,
  `iddepartamento` int NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idprovincia`),
  KEY `fk_provincia_departamento` (`iddepartamento`),
  CONSTRAINT `fk_provincia_departamento` FOREIGN KEY (`iddepartamento`) REFERENCES `departamentos` (`iddepartamento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provincias`
--

LOCK TABLES `provincias` WRITE;
/*!40000 ALTER TABLE `provincias` DISABLE KEYS */;
INSERT INTO `provincias` VALUES (1,1,'Chincha');
/*!40000 ALTER TABLE `provincias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `idrol` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idrol`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'admin','Administrador con acceso total al sistema'),(2,'vendedor','Vendedor que gestiona leads y clientes'),(3,'supervisor','Supervisor que controla reportes y equipos');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento`
--

DROP TABLE IF EXISTS `seguimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguimiento` (
  `idseguimiento` int NOT NULL AUTO_INCREMENT,
  `idlead` int NOT NULL,
  `idusuario` int NOT NULL,
  `idmodalidad` int NOT NULL,
  `nota` text COLLATE utf8mb4_unicode_ci,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idseguimiento`),
  KEY `fk_seguimiento_usuario` (`idusuario`),
  KEY `fk_seguimiento_modalidad` (`idmodalidad`),
  KEY `idx_seguimiento_fecha` (`fecha`),
  KEY `idx_seguimiento_lead` (`idlead`),
  KEY `idx_seguimiento_lead_fecha` (`idlead`,`fecha`),
  CONSTRAINT `fk_seguimiento_lead` FOREIGN KEY (`idlead`) REFERENCES `leads` (`idlead`) ON DELETE CASCADE,
  CONSTRAINT `fk_seguimiento_modalidad` FOREIGN KEY (`idmodalidad`) REFERENCES `modalidades` (`idmodalidad`) ON DELETE RESTRICT,
  CONSTRAINT `fk_seguimiento_usuario` FOREIGN KEY (`idusuario`) REFERENCES `usuarios` (`idusuario`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento`
--

LOCK TABLES `seguimiento` WRITE;
/*!40000 ALTER TABLE `seguimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios_catalogo`
--

DROP TABLE IF EXISTS `servicios_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicios_catalogo` (
  `idservicio` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `velocidad` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `precio_referencial` decimal(8,2) DEFAULT NULL,
  `precio_instalacion` decimal(8,2) DEFAULT '0.00',
  `activo` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idservicio`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios_catalogo`
--

LOCK TABLES `servicios_catalogo` WRITE;
/*!40000 ALTER TABLE `servicios_catalogo` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tareas`
--

DROP TABLE IF EXISTS `tareas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tareas` (
  `idtarea` int NOT NULL AUTO_INCREMENT,
  `idlead` int NOT NULL,
  `idusuario` int NOT NULL,
  `titulo` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo_tarea` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'llamada',
  `prioridad` enum('baja','media','alta','urgente') COLLATE utf8mb4_unicode_ci DEFAULT 'media',
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `fecha_vencimiento` datetime DEFAULT NULL,
  `fecha_completado` datetime DEFAULT NULL,
  `estado` enum('Pendiente','En progreso','Completada') COLLATE utf8mb4_unicode_ci DEFAULT 'Pendiente',
  `notas_resultado` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`idtarea`),
  KEY `idx_tareas_estado` (`estado`),
  KEY `idx_tareas_fecha_vencimiento` (`fecha_vencimiento`),
  KEY `idx_tareas_usuario` (`idusuario`),
  KEY `idx_tareas_lead` (`idlead`),
  CONSTRAINT `fk_tarea_lead` FOREIGN KEY (`idlead`) REFERENCES `leads` (`idlead`) ON DELETE CASCADE,
  CONSTRAINT `fk_tarea_usuario` FOREIGN KEY (`idusuario`) REFERENCES `usuarios` (`idusuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tareas`
--

LOCK TABLES `tareas` WRITE;
/*!40000 ALTER TABLE `tareas` DISABLE KEYS */;
INSERT INTO `tareas` VALUES (1,20,1,'Matematicas Aplicadas','LLamarlo','llamada','alta','2025-10-02',NULL,'2025-10-15 02:04:00',NULL,'Pendiente',NULL),(2,1,1,'Harry Potter','llq','reunion','alta','2025-10-02',NULL,'2025-11-02 21:05:00',NULL,'Pendiente',NULL);
/*!40000 ALTER TABLE `tareas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `idusuario` int NOT NULL AUTO_INCREMENT,
  `usuario` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `clave` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `idrol` int NOT NULL,
  `idpersona` int DEFAULT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ultimo_login` datetime DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idusuario`),
  UNIQUE KEY `usuario` (`usuario`),
  KEY `fk_usuario_rol` (`idrol`),
  KEY `fk_usuario_persona` (`idpersona`),
  KEY `idx_usuarios_usuario` (`usuario`),
  KEY `idx_usuarios_activo` (`activo`),
  CONSTRAINT `fk_usuario_persona` FOREIGN KEY (`idpersona`) REFERENCES `personas` (`idpersona`) ON DELETE SET NULL,
  CONSTRAINT `fk_usuario_rol` FOREIGN KEY (`idrol`) REFERENCES `roles` (`idrol`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'admin','123456',1,1,NULL,NULL,1,'2025-10-01 19:28:32'),(2,'vendedor1','123456',2,2,NULL,NULL,1,'2025-10-01 19:28:32'),(3,'vendedor2','123456',2,3,NULL,NULL,1,'2025-10-01 19:28:32'),(4,'supervisor','123456',3,4,NULL,NULL,1,'2025-10-01 19:28:32');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vista_campanas_dashboard`
--

DROP TABLE IF EXISTS `vista_campanas_dashboard`;
/*!50001 DROP VIEW IF EXISTS `vista_campanas_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_campanas_dashboard` AS SELECT 
 1 AS `idcampania`,
 1 AS `nombre`,
 1 AS `descripcion`,
 1 AS `estado`,
 1 AS `fecha_inicio`,
 1 AS `fecha_fin`,
 1 AS `presupuesto`,
 1 AS `responsable_nombre`,
 1 AS `inversion_total`,
 1 AS `leads_total`,
 1 AS `medios_count`,
 1 AS `costo_por_lead`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_leads_completa`
--

DROP TABLE IF EXISTS `vista_leads_completa`;
/*!50001 DROP VIEW IF EXISTS `vista_leads_completa`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_leads_completa` AS SELECT 
 1 AS `idlead`,
 1 AS `cliente`,
 1 AS `dni`,
 1 AS `telefono`,
 1 AS `correo`,
 1 AS `direccion`,
 1 AS `etapa_actual`,
 1 AS `origen`,
 1 AS `campania`,
 1 AS `vendedor_asignado`,
 1 AS `estado`,
 1 AS `presupuesto_estimado`,
 1 AS `numero_contrato_externo`,
 1 AS `fecha_registro`,
 1 AS `fecha_conversion_contrato`,
 1 AS `ubicacion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_usuarios_completa`
--

DROP TABLE IF EXISTS `vista_usuarios_completa`;
/*!50001 DROP VIEW IF EXISTS `vista_usuarios_completa`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_usuarios_completa` AS SELECT 
 1 AS `idusuario`,
 1 AS `usuario`,
 1 AS `nombre_completo`,
 1 AS `correo`,
 1 AS `telefono`,
 1 AS `rol`,
 1 AS `activo`,
 1 AS `fecha_creacion`,
 1 AS `ultimo_login`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_campanas_dashboard`
--

/*!50001 DROP VIEW IF EXISTS `vista_campanas_dashboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_campanas_dashboard` AS select `c`.`idcampania` AS `idcampania`,`c`.`nombre` AS `nombre`,`c`.`descripcion` AS `descripcion`,`c`.`estado` AS `estado`,`c`.`fecha_inicio` AS `fecha_inicio`,`c`.`fecha_fin` AS `fecha_fin`,`c`.`presupuesto` AS `presupuesto`,concat(`p`.`nombres`,' ',`p`.`apellidos`) AS `responsable_nombre`,coalesce(sum(`d`.`presupuesto`),0) AS `inversion_total`,coalesce(sum(`d`.`leads_generados`),0) AS `leads_total`,count(distinct `d`.`idmedio`) AS `medios_count`,(case when (coalesce(sum(`d`.`presupuesto`),0) > 0) then round(((coalesce(sum(`d`.`leads_generados`),0) / sum(`d`.`presupuesto`)) * 100),2) else 0 end) AS `costo_por_lead` from (((`campanias` `c` left join `usuarios` `u` on((`u`.`idusuario` = `c`.`responsable`))) left join `personas` `p` on((`p`.`idpersona` = `u`.`idpersona`))) left join `difusiones` `d` on((`d`.`idcampania` = `c`.`idcampania`))) group by `c`.`idcampania` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_leads_completa`
--

/*!50001 DROP VIEW IF EXISTS `vista_leads_completa`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_leads_completa` AS select `l`.`idlead` AS `idlead`,concat(`p`.`nombres`,' ',`p`.`apellidos`) AS `cliente`,`p`.`dni` AS `dni`,`p`.`telefono` AS `telefono`,`p`.`correo` AS `correo`,`p`.`direccion` AS `direccion`,`e`.`nombre` AS `etapa_actual`,`o`.`nombre` AS `origen`,`c`.`nombre` AS `campania`,concat(`pu`.`nombres`,' ',`pu`.`apellidos`) AS `vendedor_asignado`,`l`.`estado` AS `estado`,`l`.`presupuesto_estimado` AS `presupuesto_estimado`,`l`.`numero_contrato_externo` AS `numero_contrato_externo`,`l`.`fecha_registro` AS `fecha_registro`,`l`.`fecha_conversion_contrato` AS `fecha_conversion_contrato`,concat(`d`.`nombre`,' - ',`pr`.`nombre`,' - ',`dp`.`nombre`) AS `ubicacion` from (((((((((`leads` `l` join `personas` `p` on((`l`.`idpersona` = `p`.`idpersona`))) join `etapas` `e` on((`l`.`idetapa` = `e`.`idetapa`))) join `origenes` `o` on((`l`.`idorigen` = `o`.`idorigen`))) left join `campanias` `c` on((`l`.`idcampania` = `c`.`idcampania`))) left join `usuarios` `u_vendedor` on((`l`.`idusuario` = `u_vendedor`.`idusuario`))) left join `personas` `pu` on((`u_vendedor`.`idpersona` = `pu`.`idpersona`))) left join `distritos` `d` on((`p`.`iddistrito` = `d`.`iddistrito`))) left join `provincias` `pr` on((`d`.`idprovincia` = `pr`.`idprovincia`))) left join `departamentos` `dp` on((`pr`.`iddepartamento` = `dp`.`iddepartamento`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_usuarios_completa`
--

/*!50001 DROP VIEW IF EXISTS `vista_usuarios_completa`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_usuarios_completa` AS select `u`.`idusuario` AS `idusuario`,`u`.`usuario` AS `usuario`,concat(`p`.`nombres`,' ',`p`.`apellidos`) AS `nombre_completo`,`p`.`correo` AS `correo`,`p`.`telefono` AS `telefono`,`r`.`nombre` AS `rol`,`u`.`activo` AS `activo`,`u`.`fecha_creacion` AS `fecha_creacion`,`u`.`ultimo_login` AS `ultimo_login` from ((`usuarios` `u` left join `personas` `p` on((`u`.`idpersona` = `p`.`idpersona`))) left join `roles` `r` on((`u`.`idrol` = `r`.`idrol`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-01 21:25:23
